VITE_APP_URL=https://cardmakers.vercel.app
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzMNdlxpOBajlksirxKcvXYDqGVzB7b3KE9VNkYTnGWNcmXczTOAwyg4CakfLYcKS5UIw/exec
VITE_GOOGLE_SHEET_URL=
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=CardMaker@2026

